%div.hero-unit{:style=>"margin-top:80px;"}
  = image_tag "landing_phone.png", :class => 'image-logo'
%div.span5{:style=>'margin-right:-220px;'}
  %p= "Our main focus is to improve customer service by popular venues and increase customer satisfaction by providing a concrete channel of communication between customer and venue."
%div.span3
  = image_tag "landing_store.png", :class => 'store-logo'