%div.hero-unit
  %h2{:style=>"color:white; margin-bottom:50px;"}="Feedback"
  %p.logop= "Our main focus is to improve customer service by popular venues and increase customer satisfaction by providing a concrete channel of communication between customer and venue."
  = image_tag "http://sysei.net/angelhack_images/landing_phone.png", :class => 'image-logo'
= image_tag "http://sysei.net/angelhack_images/landing_store.png", :class => 'store-logo'