%div.navbar
  %div.row-fluid
    %div.span6{class: 'offset1'} 
      = image_tag 'http://sysei.net/angelhack_images/landing_logo.png', :width=>"250px"      
    %div.span4
      = session_nav
%div.container
  %div.row
    %ul.nav{class: 'nav-tabs'}